In [11]:
import os
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
import nltk

dir = 'U:\ownCloud\projects\semantic_composition\stimuli'

In [13]:
from nltk.corpus import wordnet31

In [15]:
wordnet31.words()

LookupError:
**********************************************************************
  Resource omw-1.4 not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('omw-1.4')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/omw-1.4

  Searched in:
    - 'C:\\Users\\rl05/nltk_data'
    - 'C:\\Users\\rl05\\Anaconda3\\nltk_data'
    - 'C:\\Users\\rl05\\Anaconda3\\share\\nltk_data'
    - 'C:\\Users\\rl05\\Anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\rl05\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************

In [9]:
phrases = pd.read_csv(os.path.join(dir, 'phrases_repeat_2023-01-26.csv'))
phrases

         noun condition adjective            phrase
0     costume  concrete      good      good costume
1     costume  concrete    recent    recent costume
2     costume  concrete   typical   typical costume
3     costume  concrete  possible  possible costume
4     costume  concrete   alleged   alleged costume
...       ...       ...       ...               ...
6091  empathy  abstract    recent    recent empathy
6092  empathy  abstract   typical   typical empathy
6093  empathy  abstract  possible  possible empathy
6094  empathy  abstract   alleged   alleged empathy
6095  empathy  abstract   dubious   dubious empathy

[6096 rows x 4 columns]

In [2]:
ratings_all = pd.read_csv(os.path.join(dir, 'brysbaert_etal_2014.csv'))
ratings_all

,Word,Bigram,Conc_M,Conc_SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
0,roadsweeper,0,4.85,0.37,1,27,0.96,0,0
1,traindriver,0,4.54,0.71,3,29,0.90,0,0
2,tush,0,4.45,1.01,3,25,0.88,66,0
3,hairdress,0,3.93,1.28,0,29,1.00,1,0
4,pharmaceutics,0,3.77,1.41,4,26,0.85,0,0
...,...,...,...,...,...,...,...,...,...
39949,unenvied,0,1.21,0.62,1,30,0.97,0,NaN
39950,agnostically,0,1.20,0.50,2,27,0.93,0,NaN
39951,conceptualistic,0,1.18,0.50,4,26,0.85,0,NaN
39952,conventionalism,0,1.18,0.48,1,29,0.97,0,NaN
39953,essentialness,0,1.04,0.20,2,26,0.92,0,NaN

Find phrases whose mean is greater than 4 (concrete) SD is less than 1 (high agreement across raters).

In [18]:
ratings_concrete = ratings_all.query('Bigram == 1 & Conc_SD < 1 & Conc_M >= 4')
# ratings_concrete.reset_index(inplace=True)
ratings_concrete

,Word,Bigram,Conc_M,Conc_SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos
28707,baking soda,1,5.00,0.00,0,30,1.0,0,NaN
28709,baseball bat,1,5.00,0.00,0,29,1.0,0,NaN
28710,bath towel,1,5.00,0.00,0,29,1.0,0,NaN
28711,beach ball,1,5.00,0.00,0,28,1.0,0,NaN
28712,bed sheet,1,5.00,0.00,0,28,1.0,0,NaN
...,...,...,...,...,...,...,...,...,...
30947,comfort food,1,4.07,0.98,0,28,1.0,0,NaN
30953,federal agency,1,4.07,0.66,0,28,1.0,0,NaN
31010,physical exertion,1,4.04,0.84,0,28,1.0,0,NaN
31015,scoop up,1,4.04,0.98,0,27,1.0,0,NaN
31044,kung fu,1,4.00,0.98,0,28,1.0,0,NaN

In [19]:
# ratings_concrete['word1'] = ''
ratings_concrete[['word1', 'word2']] = ratings_concrete['Word'].str.split(' ', 1, expand=True)

C:\Users\rl05\AppData\Local\Temp\ipykernel_22188\1990731032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_concrete[['word1', 'word2']] = ratings_concrete['Word'].str.split(' ', 1, expand=True)
C:\Users\rl05\AppData\Local\Temp\ipykernel_22188\1990731032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_concrete[['word1', 'word2']] = ratings_concrete['Word'].str.split(' ', 1, expand=True)

In [21]:
ratings_concrete.head(20)

,Word,Bigram,Conc_M,Conc_SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos,word1,word2
28707,baking soda,1,5.0,0.0,0,30,1.00,0,NaN,baking,soda
28709,baseball bat,1,5.0,0.0,0,29,1.00,0,NaN,baseball,bat
28710,bath towel,1,5.0,0.0,0,29,1.00,0,NaN,bath,towel
28711,beach ball,1,5.0,0.0,0,28,1.00,0,NaN,beach,ball
28712,bed sheet,1,5.0,0.0,0,28,1.00,0,NaN,bed,sheet
28714,big toe,1,5.0,0.0,1,29,0.97,0,NaN,big,toe
28715,birth certificate,1,5.0,0.0,0,27,1.00,0,NaN,birth,certificate
28716,bomb shelter,1,5.0,0.0,0,28,1.00,0,NaN,bomb,shelter
28717,bowling ball,1,5.0,0.0,0,30,1.00,0,NaN,bowling,ball
28718,brussels sprouts,1,5.0,0.0,0,28,1.00,0,NaN,brussels,sprouts
28719,business card,1,5.0,0.0,0,29,1.00,0,NaN,business,card
28720,cassette player,1,5.0,0.0,0,28,1.00,0,NaN,cassette,player
28722,cement mixer,1,5.0,0.0,1,29,0.97,0,NaN,cement,mixer
28723,chain saw,1,5.0,0.0,0,28,1.00,0,NaN,chain,saw
28724,chicken breast,1,5.0,0.0,0,25,1.00,0,NaN,chicken,breast
28725,chocolate bar,1,5.0,0.0,0,27,1.00,0,NaN,chocolate,bar
28726,chocolate cake,1,5.0,0.0,0,28,1.00,0,NaN,chocolate,cake
28727,cigarette butt,1,5.0,0.0,0,27,1.00,0,NaN,cigarette,butt
28728,coffee cup,1,5.0,0.0,0,25,1.00,0,NaN,coffee,cup
28729,coffee machine,1,5.0,0.0,0,29,1.00,0,NaN,coffee,machine

Implement Excel's VLOOKUP function to find constituent words' concreteness

In [16]:
ratings_concrete['word1.Conc_M'] = ''
ratings_concrete.set_index('word1', inplace=True)
ratings_concrete['word1.Conc_M'] = ratings_concrete.index.map(ratings_all['Conc_M'])
# ratings_concrete.rename(columns={'CNC.Brysbaert': 'CNC.Brysbaert.M'}, inplace=True)
ratings_concrete

C:\Users\rl05\AppData\Local\Temp\ipykernel_22188\1163187563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_concrete['word1.Conc_M'] = ''
C:\Users\rl05\AppData\Local\Temp\ipykernel_22188\1163187563.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_concrete['word1.Conc_M'] = ratings_concrete.index.map(ratings_all['Conc_M'])

,Word,Bigram,Conc_M,Conc_SD,Unknown,Total,Percent_known,SUBTLEX,Dom_Pos,word2,word1.Conc_M
word1,,,,,,,,,,,
baking,baking soda,1,5.00,0.00,0,30,1.0,0,NaN,soda,NaN
baseball,baseball bat,1,5.00,0.00,0,29,1.0,0,NaN,bat,NaN
bath,bath towel,1,5.00,0.00,0,29,1.0,0,NaN,towel,NaN
beach,beach ball,1,5.00,0.00,0,28,1.0,0,NaN,ball,NaN
bed,bed sheet,1,5.00,0.00,0,28,1.0,0,NaN,sheet,NaN
...,...,...,...,...,...,...,...,...,...,...,...
comfort,comfort food,1,4.07,0.98,0,28,1.0,0,NaN,food,NaN
federal,federal agency,1,4.07,0.66,0,28,1.0,0,NaN,agency,NaN
physical,physical exertion,1,4.04,0.84,0,28,1.0,0,NaN,exertion,NaN
scoop,scoop up,1,4.04,0.98,0,27,1.0,0,NaN,up,NaN
kung,kung fu,1,4.00,0.98,0,28,1.0,0,NaN,fu,NaN